In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import os

%matplotlib inline

In [7]:
DATA_DIR = 'input/indiv18'
ColumnHeader = ['CMTE_ID', 'AMNDT_IND', 'RPT_TP', 'TRANSACTION_PGI', 'IMAGE_NUM', 'TRANSACTION_TP', 'ENTITY_TP',
                'NAME', 'CITY', 'STATE', 'ZIP_CODE', 'EMPLOYER', 'OCCUPATION', 'TRANSACTION_DT', 'TRANSACTION_AMT',
                'OTHER_ID', 'TRAN_ID', 'FILE_NUM', 'MEMO_CD', 'MEMO_TEXT', 'SUB_ID'] 
donorData = os.path.join(DATA_DIR, 'itcont.txt')
data = pd.read_csv(donorData, sep = '|', header = None)
data.columns = ColumnHeader
data.head()

,CMTE_ID,AMNDT_IND,RPT_TP,TRANSACTION_PGI,IMAGE_NUM,TRANSACTION_TP,ENTITY_TP,NAME,CITY,STATE,...,EMPLOYER,OCCUPATION,TRANSACTION_DT,TRANSACTION_AMT,OTHER_ID,TRAN_ID,FILE_NUM,MEMO_CD,MEMO_TEXT,SUB_ID
0,C00629618,N,TER,P,201701230300133512,15C,IND,"PEREZ, JOHN A",LOS ANGELES,CA,...,PRINCIPAL,DOUBLE NICKEL ADVISORS,1032017.0,40,H6CA34245,SA01251735122,1141239,NaN,NaN,2012520171368850783
1,C00177436,N,M2,P,201702039042410894,15,IND,"DEEHAN, WILLIAM N",ALPHARETTA,GA,...,UNUM,"SVP, SALES, CL",1312017.0,384,NaN,PR2283873845050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029337
2,C00177436,N,M2,P,201702039042410893,15,IND,"WATJEN, THOMAS R.",KEY LARGO,FL,...,UNUM,CHAIRMAN OF THE BOARD,1042017.0,5000,NaN,40373239,1147350,NaN,NaN,4020820171370029334
3,C00177436,N,M2,P,201702039042410893,15,IND,"SABOURIN, JAMES",LOOKOUT MOUNTAIN,GA,...,UNUM,"SVP, CORPORATE COMMUNICATIONS",1312017.0,230,NaN,PR1890575345050,1147350,NaN,P/R DEDUCTION ($115.00 BI-WEEKLY),4020820171370029335
4,C00177436,N,M2,P,201702039042410893,15,IND,"MAKER, SCOTT T.",NORTH YARMOUTH,ME,...,UNUM,"SVP, DEPUTY GENERAL COUNSEL, BUSINESS",1312017.0,384,NaN,PR2260663445050,1147350,NaN,P/R DEDUCTION ($192.00 BI-WEEKLY),4020820171370029336

In [8]:
interestCols = ['CMTE_ID', 'NAME', 'ZIP_CODE', 'TRANSACTION_DT', 'TRANSACTION_AMT', 'OTHER_ID']
reducedData = data[interestCols]
print 'Reduced Shape', reducedData.shape

Reduced Shape (6714651, 6)